---
---
@import "{{ site.theme }}";
h1{
	color: #174368;
}
h2{
	color: #174368;
}
h3{
	color: #174368;
}
h4{
	color: #174368;
}
h5{
	color: #174368;
}
h6{
	color: #174368;
}
img{
	margin-left: auto;
	margin-right: auto;
}
.page-header{
	color:#fff;
	text-align:center;
	background-color:#159957;
	background-image:linear-gradient(180deg, #fff, #2C81C7);
}
.site-footer-owner{
	color:#fff;
}
#geowam---ein-mfund-projekt{
	color: #174368;
}
#projektziel{
	color: #174368;
}
#problemstellung{
	color: #174368;
}
#konsortium{
	color: #174368;
}
#kontakt{
	color: #174368;
}